html,
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.nav-bar{
    width: 100%;
    height: 100px;
    padding: 0 5%;
}
.logo{

  display: block;
  max-width: 100%;
  max-height: 100%;

}
.title-main{

  text-align: center;

}
.Home{
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.title-main2{
  margin: 120px 0 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
}
.title-main2-2{
  margin: 120px 0 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.title-main3{
  margin-top: 0;
  font-size: 25px;
  font-weight: 700;
  color: #464646;
  text-align: center;
}
.title-main4{
  font-size: 18px;
  font-weight: 700;
  color: #464646;
  text-align: center;
}
.line {
  display: inline-block;
  width: 240px;
  height: 4px;
  background-color: #3385e7;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.img-alight{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.txt-center{
  text-align: center;
}
.lineID{

    vertical-align: middle;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #fff;
    background-color: #4ac911;
    border-color: #4ac911;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
}
.txt-right{

  position: absolute;
  right: 0px;
  padding: 10px;
 
}
.txt-left{
  margin: 120px 0 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: left;
}

.span_1{
  
  color: #3385e7 !important;
}

.txt-size{
  
  font-size: 12px !important;
}

.txt-blod{
  
  font-weight: bold !important;
}

.submit-btn{
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  will-change: "";
  
}

.lable1{
  display: block;
  margin: 0 0 .28571429rem;
  color: rgba(0,0,0,.87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 10px;
}

.inputform{

  width: 900px;
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  -tap-highlight-color: hsla(0,0%,100%,0);
  line-height: 1.21428571em;
  padding: .67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  box-shadow: inset 0 0 0 0 transparent;
  transition: color .1s ease,border-color .1s ease;
  margin-bottom: 15px;
}
